<div class="jumbotron">
  <div class="container">
    <h1 class="text-center">simple POS</h1> <h6 class="text-center">by Brian Jumaquio</h6>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">
          <p>{{currentDate}}</p></div>
        <div class="panel-body">

          <table class="table table-hover">
            <thead>
            <tr>
              <td>Name</td>
              <td>Quantity</td>
              <td>Price</td>
              <td>Total</td>
              <td></td>
            </tr>
            </thead>
            <tbody *ngIf="_orderService.GetOrderCount()>0">

              <tr *ngFor ="let item of orders">
               <td>
                 {{item.name}}
               </td>
               <td>
                 <span class="badge badge-left">{{item.qty}}</span>
               </td>
                <td>
                  <span class="label label-success">{{item.price}}</span>
                </td>
                <td>
                  <span class="label label-primary">{{item.qty *item.price}}</span>
                </td>
                <td>
                  <button class="btn btn-success btn-xs" (click)="onAdd(item.$key)">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <button class="btn btn-warning btn-xs" (click)="onMinus(item.$key)">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                  <button class="btn btn-danger btn-xs" (click)="onRemoveOrder(item.$key)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td> <span class="label label-primary">{{_orderService.GetTotalOrderPrice()}}</span></td>
              </tr>
            <tr>
              <button class="btn btn-danger" (click)="onClearOrders()">Clear Orders</button> |
              <button class="btn btn-primary" (click)="onCheckout()">Checkout</button>
            </tr>

            </tbody>
          </table>

          <div class="container" *ngIf="_orderService.GetOrderCount()<1">
            <h4>No order</h4>
          </div>

        </div>
      </div>
    </div>



    <div class="col-md-6">
      <tabset>
        <tab heading="Burgers">
          <div class="panel panel-default">
            <div class="panel-body">
                <div class="btn-group" *ngFor="let item of burgerMenu">
                  <button style="margin: 10px;"  type="button" class="btn btn-primary"
                  (click)="onAddToOrder(item.$key)"
                  >
                    {{item.name}}
                  </button>
                </div>
            </div>
          </div>

        </tab>
        <tab heading="Chicken">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group" *ngFor="let item of chickenMenu">
                <button style="margin: 10px;"  type="button" class="btn btn-primary"
                        (click)="onAddToOrder(item.$key)"
                >
                  {{item.name}}
                </button>
              </div>
            </div>
          </div>


        </tab>
        <tab heading="Desserts">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="btn-group" *ngFor="let item of dessertMenu">
                <button style="margin: 10px;"  type="button" class="btn btn-primary"
                        (click)="onAddToOrder(item.$key)"
                >
                  {{item.name}}
                </button>
              </div>
            </div>
          </div>


        </tab>
      </tabset>



  </div>
</div>
